@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto Mono", system-ui, sans-serif;
  }
}
.btn {
  @apply w-full
  rounded-lg 
  py-3 
  px-6 
  text-xs font-bold 
  shadow-md 
  transition-all 
  hover:shadow-lg 
  focus:opacity-[0.85] 
  focus:shadow-none 
  active:opacity-[0.85] 
  active:shadow-none 
  disabled:pointer-events-none 
  disabled:opacity-50 
  disabled:shadow-none;
}

.btn-primary {
  @apply bg-blue-500 
  text-white 
  shadow-md 
  shadow-blue-500/20 
  hover:shadow-blue-500/40;
}

.btn-success {
  @apply bg-green-600 
  text-white 
  shadow-md 
  shadow-green-600/20 
  hover:shadow-green-600/40;
}

.btn-secondary {
  @apply bg-white
  text-gray-700 
  border
  border-solid
  border-gray-300
  shadow-md 
  shadow-gray-300/20 
  hover:shadow-gray-300/40;
}

.text-control {
  @apply h-full
  w-full
  rounded-[7px]
  border
  border-gray-200
  bg-transparent
  px-3 
  py-2.5
  text-sm 
  font-normal 
  text-gray-700 
  outline 
  outline-0 
  transition-all 
  placeholder-shown:border 
  placeholder-shown:border-gray-200 
  placeholder-shown:border-t-gray-200 
  focus:border-2 
  focus:border-blue-500 
  focus:border-t-transparent 
  focus:outline-0 
  disabled:border-0 
  disabled:bg-gray-50;
}

.label-control {
  @apply text-gray-600
  before:content-[''] 
  after:content-[''] 
  pointer-events-none 
  absolute 
  left-0 
  -top-1.5 
  flex 
  h-full 
  w-full 
  select-none 
  text-[11px] 
  font-normal 
  leading-tight 
  transition-all 
  before:pointer-events-none 
  before:mt-[6.5px] 
  before:mr-1 
  before:box-border 
  before:block 
  before:h-1.5 
  before:w-2.5 
  before:rounded-tl-md 
  before:border-t 
  before:border-l 
  before:border-gray-200 
  before:transition-all 
  after:pointer-events-none 
  after:mt-[6.5px] 
  after:ml-1 after:box-border 
  after:block after:h-1.5 
  after:w-2.5 after:flex-grow 
  after:rounded-tr-md 
  after:border-t 
  after:border-r 
  after:border-gray-200 
  after:transition-all 
  peer-placeholder-shown:text-sm 
  peer-placeholder-shown:leading-[3.75] 
  peer-placeholder-shown:text-gray-500 
  peer-placeholder-shown:before:border-transparent 
  peer-placeholder-shown:after:border-transparent 
  peer-focus:text-[11px] 
  peer-focus:leading-tight 
  peer-focus:text-blue-500 
  peer-focus:before:border-t-2 
  peer-focus:before:border-l-2 
  peer-focus:before:border-blue-500 
  peer-focus:after:border-t-2 
  peer-focus:after:border-r-2 
  peer-focus:after:border-blue-500 
  peer-disabled:text-transparent 
  peer-disabled:before:border-transparent 
  peer-disabled:after:border-transparent 
  peer-disabled:peer-placeholder-shown:text-gray-500;
}

.nav-active {
  @apply bg-blue-500;
}

.cards-home {
  @apply p-10 
  flex 
  flex-col 
  items-center 
  text-center 
  md:lg:xl:border-r 
  md:lg:xl:border-b 
  shadow-xl 
  shadow-neutral-100 
  border bg-white 
  hover:bg-slate-100 
  cursor-pointer;
}

.nav-aside {
  @apply flex 
  items-center 
  w-full 
  p-3 
  rounded-lg 
  text-start 
  leading-tight 
  transition-all
  hover:bg-blue-500 
  hover:bg-opacity-80
  focus:bg-blue-500 
  focus:bg-opacity-80
  active:bg-blue-500 
  active:bg-opacity-80
  hover:text-white
  focus:text-white
  outline-none;
}
